Repository sibiraj-s/go-webauthn-example: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.yml:

'*.{js,ts,jsx,tsx}':
  - eslint --fix
  - prettier --write

'*.{md,html.json}':
  - prettier --write

Update go modules
  server/go.mod
  server/go.sum
Due: none

Update README
  README.md
Due: prettier --write

Cleanup directory structure
  README.md
  certs/.gitkeep
  go.mod
  go.sum
  server.go
  server/cookies.go
  server/index.go
  server/login.go
  server/proxy.go
  server/registration.go
  server/session.go
  server/url.go
  server/user.go
  server/userdb.go
Due: prettier --write

Rename domain to webauthn.local
  README.md
  client/app/layout.tsx
  client/app/page.tsx
  client/app/signup/SignupForm.tsx
  server/index.go
  server/url.go
Due: eslint --fix, prettier --write

Fix imports and typos
  client/app/login/login.ts
  client/app/signup/register.ts
  client/lib/base64-url.ts
  client/utils/credentials.ts
Due: eslint --fix, prettier --write

Remove unused dependencies
  client/package.json
  package-lock.json
Due: none

Cleanup types
  client/app/login/login.ts
  client/app/signup/register.ts
  client/credentials.types.ts
  client/types.ts
  client/utils/credentials.ts
Due: eslint --fix, prettier --write

Fix github link
  client/app/page.tsx
Due: eslint --fix, prettier --write

Fix example layout
  client/app/page.tsx
Due: eslint --fix, prettier --write

Update ui backgrounds
  client/app/login/page.tsx
  client/app/signup/page.tsx
Due: eslint --fix, prettier --write

Bump dependencies
  client/package.json
  package-lock.json
  package.json
Due: none

Format tailwind classes
  .prettierrc.yml
  client/app/login/LoginForm.tsx
  client/app/login/page.tsx
  client/app/page.tsx
  client/app/signup/SignupForm.tsx
  client/app/signup/page.tsx
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

Normalize forms and cleanup UI
  client/app/login/LoginForm.tsx
  client/app/page.tsx
  client/app/signup/SignupForm.tsx
  client/package.json
  client/tailwind.config.ts
  package-lock.json
Due: eslint --fix, prettier --write

Regenerate package-lock.json
  package-lock.json
Due: none

Fix component names
  client/app/login/LoginForm.tsx
  client/app/login/page.tsx
Due: eslint --fix, prettier --write

Fix component names and routes
  client/app/login/LoginForm.tsx
  client/app/page.tsx
  client/app/register/RegisterFrom.tsx
  client/app/register/page.tsx
  client/app/register/register.ts
Due: eslint --fix, prettier --write

Update golang dependencies
  go.mod
  go.sum
Due: none

Bump client dependencies
  client/package.json
  package-lock.json
  package.json
Due: none

Bump go dependencies
  go.mod
  go.sum
Due: none

Bump client dependencies
  package-lock.json
  package.json
Due: none

Add notification module
  client/app/layout.tsx
  client/app/login/LoginForm.tsx
  client/app/login/login.ts
  client/app/register/register.ts
  client/package.json
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

Bump dependencies
  go.mod
  go.sum
  package-lock.json
  package.json
Due: none

Fix husky scripts
  .husky/pre-commit
  package.json
Due: none

Setup hot reloading for go
  .air.toml
  .gitignore
  README.md
Due: prettier --write

Bump dependencies
  client/package.json
  go.mod
  go.sum
  package-lock.json
  package.json
  server/index.go
Due: none

Fix build
  client/app/login/page.tsx
  client/credentials.types.ts
  package.json
Due: eslint --fix, prettier --write

Refactor ui with shadcn components
  client/app/globals.css
  client/app/layout.tsx
  client/app/login/LoginForm.tsx
  client/app/login/page.tsx
  client/app/page.tsx
  client/app/register/RegisterFrom.tsx
  client/app/register/page.tsx
  client/components.json
  client/components/theme-provider.tsx
  client/components/ui/button.tsx
  client/components/ui/card.tsx
  client/components/ui/input.tsx
  client/components/ui/label.tsx
  client/lib/utils.ts
  client/package.json
  client/tailwind.config.ts
  package-lock.json
Due: eslint --fix, prettier --write

Action to build client app
  .github/workflows/build.yml
Due: none

Cache npm deps
  .github/workflows/build.yml
Due: none

Disable next telemetry
  .github/workflows/build.yml
Due: none

Add backend build step
  .github/workflows/build.yml
Due: none

Explicitly download go deps in CI
  .github/workflows/build.yml
Due: none

Bump next
  client/package.json
  package-lock.json
Due: none

Bump go packages
  go.mod
  go.sum
Due: none
